<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="RayanSport.Properties.Settings.rayan_sportConnectionString"
            connectionString="Data Source= 169.254.92.252;Initial Catalog=rayan_sport;User id=test;Password=HoseinNima1234;"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
    </startup>
</configuration>